[Unit]
Description=Syntax gunicorn daemon
After=network.target

[Service]
PIDFile=/tmp/gunicorn_flask.pid
User=pastebin
Group=pastebin
WorkingDirectory=/srv/http/pastebin/
ExecStart=/usr/bin/scl enable python33 -- gunicorn --log-syslog --access-logfile access.log --pid /tmp/gunicorn_flask.pid app:app
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
