[Unit]
Description=Syntax gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/tmp/gunicorn_flask.pid
User=timmy
Group=timmy
WorkingDirectory=/home/timmy/timmySyntax
ExecStart=/usr/bin/gunicorn --pid /tmp/gunicorn_flask.pid app:app
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
