{% haml %}
%html
  %head
    %link href="{{ path_prefix }}/static/bootstrap.css" rel="stylesheet"
    %link href="{{ path_prefix }}/static/style.css" rel="stylesheet"
    %title
      {{ gettext('App Title') }}
  %body
    %nav.navbar.navbar-default.navbar-inverse.navbar-static-top
      %div.container-fluid
        %div.navbar-header
          %button.navbar-toggle.collapsed data-toggle="collapse" data-taget="#navbar"
            %span.sr-only
              Toggle Navigation
            %span.icon.bar
            %span.icon.bar
            %span.icon.bar
          %a.navbar-brand href="{{ path_prefix }}" 
            {{ gettext('App Brand') }}
        %div#navbar.navbar-collapse.collapse
          %a.btn.btn-default.pull-right href="{{ path_prefix }}/" style="margin-top: 10px"
            {{ gettext('New') }}

    {% if flash %} 
    %div.container
      %div.alert.alert-danger
        {{ flash }}
    {% endif %}

    %div.main -> -block main
{% endhaml %}
      
      
  <script>
    function textAreaAdjust(o) {
      o.style.height = "1px";
        o.style.height = (25+o.scrollHeight)+"px";
      }
      </script>
