{% haml %}

-extends "layout.haml"

-block main:
  %div.container
    %label for="key"
      Key: 
    %input.form-control type="text" value="{{ key }}" name="key"
    %hr
    {% if raw %}
      %pre
        |{{ code }}
    {% else %}
        {{ code }}
    {% endif %}


{% endhaml %}
